<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="student.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="navbar">
        <div class="home navele">Home</div>
        <div class="about navele" onmouseenter="toggle()" onmouseleave="toggle1()">About</div>
        <div class="student navele">Student</div>
        <div class="admin navele">Admin</div>
        <div class="developer navele">Developer</div>
    </div>
    <br>
    
    <div class="inside">this is a website to display project on mongodb</div> 

    <div class="maincon">
        <div class="left">
            <div class="text">Full Stack School of Technology Raipur</div>
            </div>
        <div class="right">
            <div id="welstu">Welcome __student</div>
            <div class="details">
                <div class="ele">NAME : VAIBHAV DEWANGAN</div>
                <div class="ele">ROLL NO. : 20113075</div>
                <div class="ele">BRANCH : CHEMICAL</div>
                <div class="ele">DOB : 14112001</div>
                <div class="ele">CONTACT NO. : 8319951993</div>

            </div>

        </div>
    </div>

    <script src="script.js"></script>
    <script src="../app.js"></script>
</body>
</html>